@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

/* * {
  @apply border border-pink-500/50;
} */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

a {
  transform: scaleX();
}
